
.all-editProfile{
    width: 100%;
    font-family: Sukhumvit Set, sans-serif;
}
.in-alleditProfile {
    z-index: 1;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
    text-align: right;
    height: 45px;
    border-radius: 1px;
}
/* menu */
li {
    list-style-type: none;
    padding: 10px;
    color: #fff;
}
li:hover{
    
    background: rgb(85, 104, 148);
}
.listMenu{
    z-index: 99;
}
body {
    background: #f0f0f0;
}
.bigSuper .ant-select-selection-selected-value {
    float: right;
    text-align: right;
    /* font-size: 10px; */
}
.super-input .ant-input-affix-wrapper .ant-input:not(:first-child) {
    font-size: 14px;
}
